<div class="p-3">
    <p class="d-flex flex-between-center mb-1">
        <b><i class="fa fa-check me-1 text-success"></i>Database :</b> <span>@_info.DatabaseName</span>
    </p>
    <p class="d-flex flex-between-center mb-1">
        <b><i class="fa fa-check me-1 text-success"></i>Database Server :</b> <span>@_info.DatabaseServer</span>
    </p>
    <p class="d-flex flex-between-center mb-1">
        <b><i class="fa fa-check me-1 text-success"></i>Menu Version :</b> <span>1.0.0.0</span>
    </p>
    <p class="d-flex flex-between-center mb-1">
        <b><i class="fa fa-check me-1 text-success"></i>FrontEnd Version :</b> <span>1.0.0.0</span>
    </p>
</div>

@code {
    private R_MenuModel _menuModel = new();
    private InfoDTO _info = new();

    protected override async Task OnInitializedAsync()
    {
        var loEx = new R_Exception();

        try
        {
            var loResult = await _menuModel.GetInfoAsync(new GetInfoParameterDTO
                {
                    CAPPLICATION_ID = "BIMASAKTI"
                });

            _info = loResult.Data;
        }
        catch (Exception)
        {
            throw;
        }
    }
}
