@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('theme.min.css');

:root {
    --r-default-font-size: 12px;
    /* preload */
    --preload-modal-z-index: 2055;
    --preload-modal-backdrop-z-index: 2050;
}

html, body {
    font-family: var(--falcon-font-sans-serif);
    font-size: var(--r-default-font-size) !important;
}

.main {
    background-image: url(../assets/img/bg-theme.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

.dark .main {
    background-image: url(../assets/img/bg-theme-dark.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

.navbar-vertical .navbar-collapse {
    background: transparent !important;
}

.toggle-icon-wrapper {
    font-size: var(--falcon-body-font-size) !important;
}

.content .navbar {
    padding: .3rem 1rem !important;
}

.content .navbar-top {
    min-height: 1rem !important;
}

.theme-control-toggle .theme-control-toggle-label, .nav-link .avatar.avatar-xl {
    height: 20px !important;
    width: 20px !important;
}

html.navbar-vertical-collapsed footer, html.navbar-vertical-collapsed .navbar-brand img, html.navbar-vertical-collapsed #navbarVerticalCollapse {
    display: none !important;
}

/* Menu Sidebar*/
.navbar-vertical-collapsed .navbar-vertical.navbar-expand-xl + .content {
    margin-left: 2.125rem;
}

.navbar-vertical .navbar-nav .nav .nav .nav-item .nav-link {
    padding-left: 1.7rem !important;
}

.navbar-vertical .navbar-nav {
    font-size: var(--r-default-font-size) !important;
}

    .navbar-vertical .navbar-nav .nav {
        font-size: 10px !important;
    }

/* Tabbing */
.k-tabstrip-items .k-link, ul.nav-tabs .nav-link {
    /*padding: 0rem .5rem .1em !important;*/
    padding: 0rem .5rem .1em;
}

.k-tabstrip-content, .k-tabstrip > .k-content {
    border-width: 0px !important;
}

span.close {
    border-radius: 50px;
    padding: 1px 5px;
}

    span.close:hover {
        background: #eee;
    }

span.tab.btn-close {
    width: 8px !important;
    height: 8px !important;
}

.k-tabstrip-items-wrapper, .k-tabstrip-content, .k-tabstrip > .k-content {
    border-color: var(--falcon-border-color) !important;
}

    .k-tabstrip-items-wrapper .k-item {
        color: var(--falcon-800) !important;
    }

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active .k-link {
    color: var(--falcon-primary) !important;
    background-color: transparent !important;
    border-bottom: 2px solid var(--falcon-primary) !important;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
    border-color: transparent !important;
    background-color: transparent !important;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item:hover {
    border-color: transparent !important;
}

.k-tabstrip-content, .k-tabstrip > .k-content {
    background: transparent !important;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active .k-link {
    margin-bottom: -1px;
    border: var(--falcon-border-color);
    color: var(--falcon-800);
    font-weight: 700;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.k-button-solid-base {
    border-color: var(--falcon-border-color) !important;
    color: #212529;
    background-color: #e4e7eb;
}

.k-editor .k-button-solid-base {
    background-color: transparent;
}

.k-content {
    border-color: transparent !important;
    /*    color: #212529;
    background-color: #ffffff;*/
    border-color: var(--falcon-border-color) !important;
}

.k-button-solid-base {
    /*    border-color: #e4e7eb;*/
    border-color: var(--falcon-border-color) !important;
}

.k-editor .k-button-solid-base {
    background-color: transparent;
}

.k-toolbar {
    /*    border-color: #dee2e6;*/
    border-color: var(--falcon-border-color) !important;
}

.k-editor-content p {
    color: var(--falcon-800);
}

.k-editor {
    /*    border-color: #dee2e6;*/
    border-color: var(--falcon-border-color) !important;
    background-color: transparent !important;
}



/* Pointer */
ul ul li.nav-item a.nav-link span {
    cursor: pointer;
}

.cur-pointer {
    cursor: pointer;
}

/* Button */
.k-button {
    padding: 0.25rem .7rem !important;
    font-size: var(--r-default-font-size) !important;
    line-height: 1.2 !important;
    font-family: var(--falcon-font-sans-serif) !important;
}

.k-button-solid-primary:hover, .k-button-solid-primary.k-hover,
.k-button-solid-success:hover, .k-button-solid-success.k-hover,
.k-button-solid-secondary:hover, .k-button-solid-secondary.k-hover,
.k-button-solid-warning:hover, .k-button-solid-warning.k-hover,
.k-button-solid-error:hover, .k-button-solid-error.k-hover {
    color: #fff !important;
}

.k-button-solid-warning {
    background-color: #f5803e !important;
    border-color: #f5803e !important;
}

    .k-button-solid-warning:hover, .k-button-solid-warning.k-hover {
        background-color: #df6d2d !important;
        border-color: #df6d2d !important;
    }

.k-button-solid-success {
    background-color: #00d27a !important;
    border-color: #00d27a !important;
}

    .k-button-solid-success:hover, .k-button-solid-success.k-hover {
        background-color: #00b368 !important;
        border-color: #00a862 !important;
    }

.k-button-solid-warning {
    color: #fff !important;
}

.k-button:disabled, .k-button.k-disabled {
    opacity: .3 !important;
    cursor: not-allowed !important;
}

/* ComboBox Button */
.k-input .k-button {
    padding: 0.25rem !important;
    padding-block: 0px !important;
}

/* DropdownList Button */
.k-picker-md .k-input-button {
    padding-block: 0px !important;
}

/* Input */
.k-input-md .k-input-inner, .k-picker-md .k-input-inner {
    padding: 0.1rem 1rem !important;
}

.k-input-solid {
    border-color: var(--falcon-input-border-color) !important;
    background-color: var(--falcon-input-bg) !important;
    color: var(--falcon-input-color) !important;
}

.k-disabled [disabled],
.k-disabled .k-disabled,
.k-widget[disabled] [disabled],
.k-widget[disabled] .k-disabled,
.k-disabled [disabled],
.k-disabled .k-disabled,
.k-picker-solid.k-disabled, .k-picker-solid.k-disabled .k-input-inner {
    background-color: var(--falcon-200) !important;
}

.k-picker-solid .k-input-inner {
    border-color: var(--falcon-input-border-color) !important;
    color: var(--falcon-input-color) !important;
    background-color: var(--falcon-input-bg) !important;
}

.k-button-md.k-icon-button .k-button-icon {
    color: var(--falcon-800);
}

.k-input-md .k-input-button,
.k-input-md .k-spinner-increase,
.k-input-md .k-spinner-decrease,
.k-picker-md .k-input-button,
.k-picker-md .k-spinner-increase,
.k-picker-md .k-spinner-decrease {
    background: transparent !important;
}

.k-input-spinner .k-spinner-increase, .k-input-spinner .k-spinner-decrease, .k-input-button {
    background: transparent !important;
    border-inline-start-width: 0px !important;
}

.k-picker .k-input-button {
    border: none !important;
}

.k-checkbox:disabled, .k-checkbox.k-disabled, .k-radio:disabled, .k-radio.k-disabled {
    background-color: #2c7be5 !important;
    border-color: #2c7be5 !important;
    cursor: not-allowed !important;
}


/* Table */
.dark .table {
    --falcon-table-striped-bg: #0b1727;
}

.k-toolbar {
    background: none !important;
}

.k-grid {
    background-color: transparent !important;
    color: var(--falcon-800) !important;
    border: 0 !important;
}

.k-grid-toolbar {
    border: 0px !important;
}

.k-grid-header, .k-table-thead, .k-table-header, .k-table-group-sticky-header {
    border-color: #dee2e6 !important;
    color: var(--falcon-800) !important;
    --falcon-bg-opacity: 1 !important;
    background-color: rgba(var(--falcon-200-rgb), var(--falcon-bg-opacity)) !important;
}

.k-grid-aria-root, .k-grid-pager {
    border-color: #dee2e6 !important;
    color: var(--falcon-800) !important;
    background-color: transparent !important;
}

.k-grid .k-cell-inner {
    font-weight: 700 !important;
    color: var(--falcon-800) !important;
}

.k-grid-header-wrap, .k-grid-footer-wrap {
    border-inline-end-width: 0px !important;
}

.k-grid-pager {
    border-color: var(--falcon-input-border-color) !important;
}

.k-grid .k-table-th, .k-grid td, .k-grid .k-table-td {
    border-inline-start-width: 0px !important;
}

.k-table, .k-data-table {
    color: var(--falcon-800) !important;
}

.k-grid .k-table-th.k-selected, .k-grid td.k-selected, .k-grid .k-table-td.k-selected, .k-grid .k-table-row.k-selected > td, .k-grid .k-table-row.k-selected > .k-table-td {
    --falcon-table-striped-bg: rgba(0, 0, 0, 0.5) !important;
    color: var(--falcon-800) !important;
}

.k-table-thead, .k-table-header, .k-table-group-sticky-header {
    background-color: transparent !important;
}

.k-picker-solid {
    border-color: var(--falcon-input-border-color) !important;
    color: var(--falcon-input-color) !important;
    background-color: transparent !important;
}

.k-grid-md td, .k-grid-md .k-table-td {
    padding: 0.2rem 0.5rem !important;
    font-size: 10px !important;
}

/* Paging */
.k-pager-md .k-pager-sizes .k-dropdown-list, .k-pager-md .k-pager-sizes .k-dropdown, .k-pager-md .k-pager-sizes .k-dropdownlist, .k-pager-md .k-pager-sizes > select {
    width: 8em !important;
}

/* Searchbox */
.search-box .dropdown-menu {
    border: none !important;
}

.search-box a.dropdown-item {
    cursor: pointer;
}
/* Popup */
.k-popup {
    background-color: var(--falcon-card-bg) !important;
    border-color: var(--falcon-input-border-color) !important;
    color: var(--falcon-input-color) !important;
}

.k-window {
    border-color: var(--falcon-input-border-color) !important;
    color: var(--falcon-800) !important;
    background-color: var(--falcon-card-bg) !important;
}

.k-window-titlebar {
    border-color: var(--falcon-input-border-color) !important;
}

.k-window-title {
    font-size: 1.45rem !important;
    font-weight: 700;
}

.k-button,
.k-input,
.k-input .k-input-inner,
.k-picker,
.k-picker .k-input-inner {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-datetimepicker-popup .k-button-group .k-button-text {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-datetimepicker-popup .k-calendar-header .k-button,
.k-datepicker-popup .k-calendar-header .k-button {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-datetimepicker-popup .k-actions .k-button {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-datetimepicker-popup .k-calendar .k-link,
.k-datepicker-popup .k-calendar .k-link {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-datetimepicker-popup .k-calendar .k-calendar-th,
.k-datepicker-popup .k-calendar .k-calendar-th {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-timepicker-popup .k-time-header .k-title,
.k-timepicker-popup .k-time-header .k-button,
.k-timepicker-popup .k-actions .k-button {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-time-list-container .k-time-list-wrapper .k-title {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-time-list-container .k-time-list-wrapper .k-time-container {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-combobox-popup .k-list-item {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-dropdownlist-popup .k-list-item {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-colorpicker-popup .k-actions .k-button {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-radio-list .k-radio-label {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-button .k-button-text {
    font-family: var(--falcon-font-sans-serif);
}

.k-button-group .k-button-text {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-menu-popup .k-menu-group .k-menu-item {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

/*GRID*/
.k-grid .k-grid-toolbar .k-button {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-grid-header .k-grid-header-table {
    font-size: 14px;
}

.k-table-row {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

.k-grid-pager .k-pager-numbers-wrap,
.k-grid-pager .k-pager-sizes,
.k-grid-pager .k-pager-info {
    font-size: var(--r-default-font-size);
    font-family: var(--falcon-font-sans-serif);
}

/*MODAL*/
.k-dialog-wrapper .k-window {
    background-color: var(--falcon-modal-content-bg);
}

.k-button-md.k-icon-button .k-button-icon {
    color: var(--falcon-headings-color);
}

.k-window-title {
    color: var(--falcon-headings-color);
    font-family: var(--falcon-font-sans-serif);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.validation-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 75%;
    color: #e63757;
}

/* Blazor X Tabs */
.xtabs[b-mlpxtvpz0w] {
    background-color: transparent !important;
}

.xtabs-item .xtabs-link.active[b-21c0qposjk] {
    background-color: transparent !important;
    border-color: transparent !important;
    border-bottom-color: var(--falcon-primary) !important;
}

button.close[b-21c0qposjk] {
    font-weight: 300 !important;
    color: #2c7be5 !important;
    text-shadow: none !important;
    line-height: 26px !important;
}

button.close span {
    padding: 0 3px !important;
}

    button.close span:hover {
        color: #fff !important;
        background-color: #2c7be5 !important;
        z-index: 99999 !important;
    }

h6[b-21c0qposjk] {
    padding-right: 7px !important;
}



@media(min-width: 576px) {
    .content {
        /*padding-bottom: 3.9875rem*/
        padding-bottom: 0rem !important;
    }
}


.dark.windows.chrome .navbar-vertical .scrollbar::-webkit-scrollbar-thumb {
    /* background-color: var(--falcon-navbar-vertical-scrollbar-color) */
    background-color: rgba(44, 123, 229, 0.5) !important;
}

.navbar-vertical.navbar-expand-xl .navbar-vertical-content {
    height: calc(100vh - 11.3125rem) !important;
}

/* preload */
.modal-page-loading {
    z-index: var(--preload-modal-z-index) !important;
}

.modal-backdrop-page-loading {
    z-index: var(--preload-modal-backdrop-z-index) !important;
}

.modal-content-page-loading {
    background-color: inherit !important;
    border: inherit !important;
    box-shadow: none !important;
}

/* Drag Cells*/
.k-grid-md .k-drag-cell > .k-icon {
    padding: 0px !important;
    width: 33% !important;
    height: auto !important;
    font-size: 10px;
}

/* lightbox */
.lightbox-background {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(130, 130, 130, .3);
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease-in-out;
    align-content: center;
    justify-content: center;
}

    .lightbox-background.active {
        opacity: 1;
        pointer-events: all;
    }

.lightbox-background__image {
    max-width: 90vw;
    max-height: 90vh;
    border: 5px solid #efefef;
    box-shadow: 0 3px 12px rgba(80, 80, 80, .8);
}

.lightbox {
    cursor: pointer;
    position: relative;
}

    .lightbox::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0);
        transition: all 250ms ease-in-out;
    }

    .lightbox:hover::before {
        background-color: rgba(255, 255, 255, .3);
    }

    .lightbox::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        opacity: .3;
        transform: translate(-50%, -50%);
        transition: all 250ms ease-in-out;
    }

    .lightbox:hover::after {
        width: 50px;
        height: 50px;
        opacity: .6;
    }

.lightbox-image {
    width: 100%;
    height: 100%;
    display: block;
}
